[Desktop Entry]
Name=Encre
GenericName=Writing Assistant
Comment=Revise, translate and dictate text, and ask questions, with AI, anywhere
Exec=/usr/bin/encre
Icon=encre
Terminal=false
Type=Application
Categories=Utility;Office;
Keywords=text;revise;translate;dictate;speech;ask;ai;
StartupNotify=true
StartupWMClass=Encre
